################################################################################
### PYTHON/SDK/DOCKER SETTINGS
################################################################################
##Pytorch + Py3.10 + Beam 2.47.0
PYTHON_VERSION=3.10
BEAM_VERSION=2.47.0
DOCKERFILE_TEMPLATE=pytorch_gpu.Dockerfile
##Pytorch + Tensor_RT + Py3.8 + Beam 2.46.0
#PYTHON_VERSION=3.8
#BEAM_VERSION=2.46.0
#DOCKERFILE_TEMPLATE=tensor_rt.Dockerfile
################################################################################
### GCP SETTINGS
################################################################################
PROJECT_ID=your-gcp-project-id
REGION=your-region-to-run-dataflow-jobs
ZONE=your-zone-to-run-vm
DISK_SIZE_GB=50
MACHINE_TYPE=n1-standard-2
VM_NAME=beam-ml-starter-gpu
################################################################################
### DATAFLOW JOB SETTINGS
################################################################################
STAGING_LOCATION=your-gcs-bucket-for-staging-files
TEMP_LOCATION=your-gcs-bucket-for-temp-files
CUSTOM_CONTAINER_IMAGE=your-gcr-image-uri-for-custom-container
SERVICE_OPTIONS="worker_accelerator=type:nvidia-tesla-t4;count:1;install-nvidia-driver"
################################################################################
### DATAFLOW JOB MODEL SETTINGS
################################################################################
### PYTORCH MODEL EXAMPLES
## mobilenet_v2
MODEL_STATE_DICT_PATH="gs://apache-beam-ml/models/torchvision.models.mobilenet_v2.pth"
MODEL_NAME=mobilenet_v2
## resnet101
#MODEL_STATE_DICT_PATH="gs://apache-beam-ml/models/torchvision.models.resnet101.pth"
#MODEL_NAME=resnet101
### TF MODEL URI EXAMPLES
#TF_MODEL_URI: only support TF2 models (https://tfhub.dev/s?subtype=module,placeholder&tf-version=tf2)
#TF_MODEL_URI=https://tfhub.dev/google/tf2-preview/mobilenet_v2/classification/4
################################################################################
### DATAFLOW JOB INPUT&OUTPUT SETTINGS
################################################################################
INPUT_DATA="gs://apache-beam-ml/testing/inputs/openimage_50k_benchmark.txt"
OUTPUT_DATA=your-gcs-bucket-for-saving-prediction-results